@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Montserrat&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
body{
/* background-image:url("messi.jpg"); */
background: linear-gradient(to right,red, orange, yellow, green, blue, indigo, violet);
background-position: center;
background-attachment: fixed;
background-size: cover;

}
 /* #box1{
    border-style: double;
    height: 250px;
    width: 250px;
    background-color: rgb(19, 234, 87);
    color:black;
    border-radius: 10px;
    padding: 50px;
    margin: 10px;
  
}
#box2{
    border-style: groove;
    height: 250px;
    width: 250px;
    background-color: aqua;
    color: black;
    border-radius: 10px;
    padding: 50px;
    margin: 10px;
 
}
#box3{
    border-style: dashed;
    height: 250px;
    width: 250px;
    background-color: rgb(234, 99, 236);
    color:whitesmoke;
    font-weight: bold;
    border-radius: 10px;
    padding: 50px;
    margin: 10px;
    
   
} */

